body {
  background: #ed4f7e;
  color: #fff;
  font-size: 5em;
  font-family: "museo-sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  text-align: center;
  position: relative;
  width: 6.7em;
  margin: 0 auto;
}

#container span {
  position: absolute;
}

#container span:nth-child(1) { /* p */
  left: 0;
}

#container span:nth-child(2) { /* e */
  left: 0.6em;
}
#container span:nth-child(3) { /* b */
  left: 1.2em;
}
#container span:nth-child(4) { /* b */
  left: 1.8em;
}
#container span:nth-child(5) { /* l */
  left: 2.4em;
}
#container span:nth-child(6) { /* e */
  left: 2.7em;
}
#container span:nth-child(7) { /* { */
  left: 3.5em;
}
#container span:nth-child(8) { /* c */
  left: 3.9em;
}
#container span:nth-child(9) { /* o */
  left: 4.5em;
}
#container span:nth-child(10) { /* d */
  left: 5.1em;
}
#container span:nth-child(11) { /* e */
  left: 5.7em;
}
#container span:nth-child(12) { /* } */
  left: 6.3em;
}